{erl_opts, [no_debug_info]}.
{deps, []}.

{escript_incl_apps,
  [day_23]}.
{escript_main_app, day_23}.
{escript_name, day_23}.
{escript_name, day_23}. % change to {escript_name, day_23_part_2} for part 2
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
  [{erl_opts, [debug_info]}
  ]}]}.
